---
- name: Update APT software
  become: true
  ansible.builtin.apt:
    upgrade: dist
    update_cache: true
    autoremove: true
    purge: true
  tags: always

- name: Update Flatpak update
  ansible.builtin.command: flatpak update --noninteractive
  register: flatpak_update_output
  changed_when: "'app/' in flatpak_update_output.stdout"
  tags: always
