---
- name: Get local groups list
  ansible.builtin.shell:
    cmd: "set -o pipefail && getent group | cut -d: -f1"
    executable: /bin/bash
  register: unix_groups
  changed_when: false

- name: Allow non-root to capture with Wireshark
  become: true
   # Set preference for package installation question
  ansible.builtin.debconf:
    name: 'wireshark-common'
    question: wireshark-common/install-setuid'
    vtype: 'boolean'
    value: 'true'
  # Only needed when not installed
  when: not 'wireshark' in unix_groups.stdout_lines

- name: Install Wireshark
  become: true
  ansible.builtin.apt:
    name: wireshark

- name: "Allow user to capture packets"
  become: true
  ansible.builtin.user:
    name: "{{ ansible_user_id }}"
    append: true
    groups:
      - wireshark
