---
- name: Default applications
  community.general.dconf:
    key: "/org/cinnamon/desktop/applications/{{ item.key }}"
    value: "{{ item.value }}"
  loop:
    - key: "terminal/exec"
      value: "'terminator'"
  tags: cinnamon

- name: Configure Nemo preferences
  community.general.dconf:
    key: "/org/nemo/preferences/{{ item.key }}"
    value: "{{ item.value }}"
  loop:
    - key: "default-folder-viewer"
      value: "'list-view'"
    - key: "detect-content"
      value: "false"
  tags: cinnamon

- name: Configure Nemo list view
  community.general.dconf:
    key: "/org/nemo/list-view/{{ item.key }}"
    value: "{{ item.value }}"
  loop:
    - key: "enable-folder-expansion"
      value: "true"
  tags: cinnamon

- name: Configure keybindings
  community.general.dconf:
    key: "/org/cinnamon/desktop/keybindings/{{ item.key }}"
    value: "{{ item.value }}"
  loop:
    - key: "looking-glass-keybinding"
      value: "['<Primary><Alt>l']"
    - key: "media-keys/screensaver"
      value: "['XF86ScreenSaver', '<Super>l']"
    - key: "media-keys/terminal"
      value: "['<Primary><Alt>t', '<Super>t']"
    - key: "wm/panel-run-dialog"
      value: "['<Alt>F2', '<Super>r']"
  tags: cinnamon

- name: Logitech MX Keys Screenshot keybinding
  community.general.dconf:
    key: "/org/cinnamon/desktop/keybindings/custom-keybindings/custom0/{{ item.key }}"
    value: "{{ item.value }}"
  loop:
    - key: "binding"
      value: "['<Shift><Super>s']"
    - key: "command"
      value: "'gnome-screenshot --area --interactive --delay 2'"
    - key: "name"
      value: "'Screenshot MX Keys'"
  tags: cinnamon

- name: Configure power options
  community.general.dconf:
    key: "/org/cinnamon/settings-daemon/plugins/power/{{ item.key }}"
    value: "{{ item.value }}"
  loop:
    - key: "lid-close-ac-action"
      value: "'nothing'"
    - key: "lid-close-battery-action"
      value: "'nothing'"
    - key: "sleep-display-ac"
      value: "600"
    - key: "sleep-display-battery"
      value: "300"
    - key: "sleep-inactive-ac-timeout"
      value: "0"
    - key: "sleep-inactive-battery-timeout"
      value: "0"
  tags: cinnamon

- name: Configure notifications
  community.general.dconf:
    key: "/org/cinnamon/desktop/notifications/{{ item.key }}"
    value: "{{ item.value }}"
  loop:
    - key: "notification-duration"
      value: "4"
    - key: "remove-old"
      value: "true"
  tags: cinnamon

- name: Configure update options
  community.general.dconf:
    key: "/com/linuxmint/updates/{{ item.key }}"
    value: "{{ item.value }}"
  loop:
    - key: "auto-update-cinnamon-spices"
      value: "false"
    - key: "auto-update-flatpaks"
      value: "false"
    - key: "autorefresh-days"
      value: "7"
    - key: "autorefresh-hours"
      value: "0"
    - key: "hide-systray"
      value: "true"
    - key: "refresh-hours"
      value: "6"
    - key: "refresh-minutes"
      value: "0"
    - key: "show-welcome-page"
      value: "false"
  tags: cinnamon


- name: Media handling options
  community.general.dconf:
    key: "/org/cinnamon/desktop/media-handling/{{ item.key }}"
    value: "{{ item.value }}"
  loop:
    - key: "automount-open"
      value: "false"
    - key: "autorun-never"
      value: "true"
  tags: cinnamon

- name: Disable sounds
  community.general.dconf:
    key: "/org/cinnamon/sounds/{{ item }}"
    value: "false"
  loop:
    - "login-enabled"
    - "logout-enabled"
    - "notification-enabled"
    - "plug-enabled"
    - "switch-enabled"
    - "tile-enabled"
    - "unplug-enabled"
    - "close-enabled"
    - "maximize-enabled"
    - "minimize-enabled"
    - "map-enabled"
    - "unmaximize-enabled"
  tags: cinnamon