# Manage power states
{{ ansible_user_id }} ALL=NOPASSWD: /usr/sbin/shutdown
{{ ansible_user_id }} ALL=NOPASSWD: /usr/sbin/poweroff
{{ ansible_user_id }} ALL=NOPASSWD: /usr/sbin/reboot

# Dirty bytes 
{{ ansible_user_id }} ALL=NOPASSWD: /usr/bin/sync

# Software maintenance operations
{{ ansible_user_id }} ALL=NOPASSWD: /usr/local/bin/apt update
{{ ansible_user_id }} ALL=NOPASSWD: /usr/local/bin/apt dist-upgrade
{{ ansible_user_id }} ALL=NOPASSWD: /usr/local/bin/apt autoremove

# Common tools easy access
{{ ansible_user_id }} ALL=NOPASSWD: /usr/bin/tcpdump
{{ ansible_user_id }} ALL=NOPASSWD: /usr/bin/picocom
{{ ansible_user_id }} ALL=NOPASSWD: /usr/bin/wavemon
{{ ansible_user_id }} ALL=NOPASSWD: /usr/bin/nmap

# Docker related stuff
{{ ansible_user_id }} ALL=NOPASSWD: /usr/bin/systemctl status docker
{{ ansible_user_id }} ALL=NOPASSWD: /usr/bin/systemctl start docker
{{ ansible_user_id }} ALL=NOPASSWD: /usr/bin/systemctl stop docker
{{ ansible_user_id }} ALL=NOPASSWD: /usr/bin/systemctl restart docker
{{ ansible_user_id }} ALL=NOPASSWD: /usr/bin/systemctl disable docker
{{ ansible_user_id }} ALL=NOPASSWD: /usr/bin/systemctl enable docker
# The wildcard may be a terrible idea as docker runs as root....
{{ ansible_user_id }} ALL=NOPASSWD: /usr/bin/docker *
{{ ansible_user_id }} ALL=NOPASSWD: /usr/bin/docker-compose *
