---
- name: Passwordless Mint updates for adm members
  become: true
  ansible.builtin.copy:
    dest: /etc/polkit-1/rules.d/99-mint-updates.rules
    mode: "0644"
    content: |
      polkit.addRule(function(action, subject) {
          if (action.id == "com.linuxmint.updates.apply-updates" ||
              action.id == "org.aptkit.install-or-remove-packages") {
              if (subject.active && subject.isInGroup("adm")) {
                  return polkit.Result.YES;
              }
          }
      });

- name: "Selective passwordless sudo for {{ ansible_user_id }}"
  become: true
  ansible.builtin.template:
    src: templates/sudoers.j2
    dest: "/etc/sudoers.d/{{ ansible_user_id }}"
    mode: "0640"
  tags: user

- name: "Allow user to access ttyUSBx"
  become: true
  ansible.builtin.user:
    name: "{{ ansible_user_id }}"
    append: true
    groups:
    - dialout
  tags: user